/* ===== Proxmox VE – Description text ===== */
span {
    font-family: 'Helvetica Neue', Arial, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #555555;
    display: block;
    transition: color 0.1s;
}

.text-elevation,
.text-reactive:hover {
    color: #e67e22;
}
