@if (!portalAgendaLink.disabled) {
    <div class="pve-link-container">
        @if (portalAgendaLink.menu) {
            <div class="pve-btn-wrapper" (mouseenter)="menuExpanded.set(true)"
                 (mouseleave)="menuExpanded.set(false)">
                <button
                    class="pve-btn pve-btn-primary dropdown-btn"
                    [ngClass]="{'pve-btn-active': (elevation === portalAgendaLink.label + ' button')}"
                    (mouseenter)="setElevation(portalAgendaLink.label)"
                    (mouseleave)="setElevation('')">
                    <mat-icon class="pve-btn-icon">{{ portalAgendaLink.icon }}</mat-icon>
                    <span class="pve-btn-label">{{ portalAgendaLink.label }}</span>
                    <mat-icon class="pve-dropdown-arrow">arrow_drop_down</mat-icon>
                </button>
                @if (menuExpanded()) {
                    <div class="pve-dropdown-menu">
                        @for (expandedControl of portalAgendaLink.menu; track expandedControl) {
                            <button
                                class="pve-dropdown-item"
                                (click)="setRoute(expandedControl.path)">
                                <mat-icon class="pve-dropdown-item-icon">{{ expandedControl?.icon }}</mat-icon>
                                <span>{{ expandedControl?.label }}</span>
                            </button>
                        }
                    </div>
                }
            </div>
        } @else {
            <button
                class="pve-btn pve-btn-primary"
                [ngClass]="{'pve-btn-active': (elevation === portalAgendaLink.label + ' button')}"
                (mouseenter)="setElevation(portalAgendaLink.label)"
                (mouseleave)="setElevation('')"
                (click)="setRoute(portalAgendaLink.path)">
                <mat-icon class="pve-btn-icon">{{ portalAgendaLink.icon }}</mat-icon>
                <span class="pve-btn-label">{{ portalAgendaLink.label }}</span>
            </button>
        }
    </div>
}
